{% extends 'base.html' %}
{% block title %}
    Kontakt
{% endblock %}
{% block content %}
<div class="parallax2">
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1>Niebiańskie SPA</h1>
    <h1></h1>
    <h1>KONTAKT</h1>
</div>
<div class="info_scroll"></div>
    <p class="kontakt">Odwiedź nasz salon masażu i zanurz się w atmosferze relaksu.
        Zarezerwuj swoją sesję już teraz, dzwoniąc pod numer  <a class="nrtele" href="tel:+48661366812">+48 661 366 812</a>. Nasz profesjonalny zespół czeka,
        aby dostosować doświadczenie masażu do Twoich indywidualnych potrzeb.</p>
        <p class="kontakt2">Świeradów-Zdrój ul. Chopina 2. Więcej informacji na wioletta19721@interia.pl</p>

    <img class="massage_info" src="{{ url_for('static', filename='kontakt_massage.jpg') }}" alt="">
    <img class="massage_info2" src="{{ url_for('static', filename='logo_removed.png') }}" alt="">

<div class="parallax2"></div>

{% endblock %}